{
  "supportscredentials": true,
  "supportedmethods": ["GET", "HEAD", "POST", "PUT", "DELETE", "OPTIONS"],
  "supportedheaders": ["Origin", "Accept", "X-Requested-With", "Content-Type", "Access-Control-Request-Method", "Access-Control-Request-Headers", "Authorization"],
  "exposedheaders": [""],
  "alloworigin": __CORS_ORIGINS_JSON__,
  "alloworiginregexp": [""],
  "maxage:Integer": 1800,
  "allowedpaths": ["/.*"]
}
